/* Profile.css */
input[type="file"] {
  display: block;
}

.upload-dropdown img:hover {
  border: 2px solid #007bff;
  border-radius: 5px;
}
/* Profile.css */
img:hover {
  border: 2px solid #0d6efd;
}

input[type="file"] {
  font-size: 0.875rem;
}
