.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05); /* optional soft overlay */
  z-index: -1;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.card:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease;
  background-color: #f8f9fa;
}
